<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <section class="container">
        <section class="container-main">
            <section class="container-main-title">
                <h1>Welcome To Do List</h1>
            </section>
            
            <section class="container-main-tasks">
                <h2>All Tasks:</h2>
                    
                {% for task in tasks%}
                    <h2>{{task.name}}</h2>
                    <ul>
                        {% if task.status == 1  %}
                        <li>Status: Realizado</li>
                        {% else %}
                        <wli>Status: Não Realizado</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </section>
        </section>
    </section>
</body>
</html>